.home {
    padding-top: 0;
}

.hero {
    &__wrapper {
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 18vh;
        background-size: cover;
        background-position: center;

        @include breakpointPortrait(xs) {
            background-position: top;
        }

        &--mans-best {
            background-image: linear-gradient(rgba(0, 0, 0, 0.15) 40%, rgba(0, 0, 0, 1)), url("images/mans-best.jpg");

            @include breakpoint(xs) {
                background-image: linear-gradient(rgba(0, 0, 0, 0.15) 1%, rgba(0, 0, 0, 1)), url("images/mans-best.jpg");
            }
        }

        &--womans-best {
            background-image: linear-gradient(rgba(0, 0, 0, 0.15) 40%, rgba(0, 0, 0, 1)), url("images/womans-best.jpg");
        }

        &--absolute-man {
            background-image: linear-gradient(rgba(0, 0, 0, 0.15) 40%, rgba(0, 0, 0, 1)), url("images/absolute-man.jpg");
        }
    }

    &__container {
        color: $color__text-secondary;
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
    }

    &__info {
        font-size: 1.2em;
        margin: 5px 0 25px;
        padding: 0 40px;
    }

    &__heading {
        font-size: 2.1em;

        @include breakpoint(lg) {
            font-size: 4.5em;
            font-weight: 300;
        }
    }

    &__button {
        display: inline-block;
        background-color: $color__background-body;
        color: $color__text-main;
        font-weight: 600;
        padding: 10px 40px;
        border: 1px solid rgba($color__background-body, .4);
        transition: background-color .4s cubic-bezier(0.86, 0, 0.07, 1), color .4s cubic-bezier(0.86, 0, 0.07, 1);

        &:hover {
            background-color: transparent;
            color: $color__background-body--tertiary;
        }
    }
}

.front-categories {
    width: 100%;
    text-align: center;
    padding: 30px $padding__main 20px;
    background-color: $color__background-body--tertiary;

    &__wrapper {
        max-width: 1200px;
        margin: 0 auto;

        @include breakpoint(md) {
            display: flex;
            justify-content: space-between;
            padding: 0 30px;
        }
    }

    &__container {
        height: 40vh;
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-size: cover;
        background-position: center;
        color: $color__text-secondary;
        text-transform: uppercase;

        @include breakpoint(xs) {
            height: 90vh;
            margin: 30px;
        }

        @include breakpoint(md) {
            flex-basis: 49%;
            height: 50vh;
            margin: 30px 10px;
        }

        @include breakpointPortrait(xs) {
            height: 50vh;
            background-position: top;
        }

        @include breakpointPortrait(md) {
            height: 35vh;
        }

        &--men {
            background-image: linear-gradient(rgba(0, 0, 0, 0.15) 40%, rgba(0, 0, 0, 1)), url("images/men-cat.jpg");
        }

        &--women {
            background-image: linear-gradient(rgba(0, 0, 0, 0.15) 40%, rgba(0, 0, 0, 1)), url("images/women-cat.jpg");
        }

        &--fragrance-men {
            background-image: linear-gradient(rgba(0, 0, 0, 0.15) 40%, rgba(0, 0, 0, 1)), url("images/men-fragrance.jpg");
        }

        &--fragrance-women {
            background-image: linear-gradient(rgba(0, 0, 0, 0.15) 40%, rgba(0, 0, 0, 1)), url("images/women-fragrance.jpg");
        }
    }

    &__heading {
        margin: 0 0 20px;
        text-transform: uppercase;
        font-weight: 300;

        @include breakpoint(lg) {
            font-size: 35px;
        }
    }

    &__button {
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.3);
        color: $color__background-body;
        font-weight: 500;
        padding: 10px 40px;
        transition: background-color .4s cubic-bezier(0.55, 0.055, 0.675, 0.19), color .4s cubic-bezier(0.55, 0.055, 0.675, 0.19);

        @include breakpoint(xs) {
            background-color: rgba(0, 0, 0, 0.5);
            padding: 20px 40px;
        }

        @include breakpoint(lg) {
            font-weight: 400;
            font-size: 20px;
        }

        &:hover {
            background-color: rgba($color__background-body--tertiary, 0.8);
            color: $color__text-main;
        }
    }
}

.front-about {
    background-color: $color__background-body--secondary;
    padding: 30px $padding__main;
    color: $color__text-secondary;
    text-align: center;


    @include breakpoint(xs) {
        padding: 30px 15vw;
    }

    @include breakpoint(lg) {
        padding: 50px 18vw;
    }

    &__heading {
        margin-top: 0;
        text-transform: uppercase;

        @include breakpoint(lg) {
            font-size: 60px;
        }

        &-info {
            display: block;
            font-weight: 300;
            font-size: 16px;

            @include breakpoint(lg) {
                font-size: 30px;
            }
        }
    }

    &__paragraph {
        max-width: 800px;
        margin: 15px auto;
    }
}

.shop-section {
    padding: 30px 0 10px;

    // @include breakpoint(xs) {
    //     padding: 30px 10vw 10px;
    // }

    // @include breakpoint(md) {
    //     padding: 30px 5vw 10px;
    // }

    a {
        color: $color__text-main;
    }

    &__container {
        padding: 0;
    }

    &__heading {
        text-align: center;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 20px;

        @include breakpoint(lg) {
            font-size: 35px;
        }
    }
}