.home {
    padding-top: 0;
}

.hero {
    &__wrapper {
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 18vh;
        background-size: cover;
        background-position: center;

        &--mans-best {
            background-image: linear-gradient(rgba(0, 0, 0, 0.15) 40%, rgba(0, 0, 0, 1)), url("images/mans-best.jpg");
        }

        &--womans-best {
            background-image: linear-gradient(rgba(0, 0, 0, 0.15) 40%, rgba(0, 0, 0, 1)), url("images/womans-best.jpg");
        }

        &--absolute-man {
            background-image: linear-gradient(rgba(0, 0, 0, 0.15) 40%, rgba(0, 0, 0, 1)), url("images/absolute-man.jpg");
        }
    }

    &__container {
        color: $color__text-secondary;
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
    }

    &__info {
        font-size: 1.2em;
        margin: 5px 0 25px;
        padding: 0 40px;
    }

    &__heading {
        font-size: 2.1em;
    }

    &__button {
        display: inline-block;
        background-color: $color__background-body;
        color: $color__text-main;
        font-weight: 600;
        padding: 10px 40px;
    }
}

.front-categories {
    width: 100%;
    text-align: center;
    padding: 30px $padding__main 20px;
    background-color: $color__background-body--tertiary;

    &__container {
        height: 40vh;
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-size: cover;
        background-position: center;
        color: $color__text-secondary;
        text-transform: uppercase;

        @include breakpoint(xs) {
            height: 90vh;
            margin: 30px;
        }

        &--men {
            background-image: linear-gradient(rgba(0, 0, 0, 0.15) 40%, rgba(0, 0, 0, 1)), url("images/men-cat.jpg");
        }

        &--women {
            background-image: linear-gradient(rgba(0, 0, 0, 0.15) 40%, rgba(0, 0, 0, 1)), url("images/women-cat.jpg");
        }

        &--fragrance-men {
            background-image: linear-gradient(rgba(0, 0, 0, 0.15) 40%, rgba(0, 0, 0, 1)), url("images/men-fragrance.jpg");
        }

        &--fragrance-women {
            background-image: linear-gradient(rgba(0, 0, 0, 0.15) 40%, rgba(0, 0, 0, 1)), url("images/women-fragrance.jpg");
        }
    }

    &__heading {
        margin: 0 0 20px;
        text-transform: uppercase;
        font-weight: 300;
    }

    &__inner-heading {
        font-weight: 400;
        margin: 5px;
        font-size: 14px;
    }

    &__button {
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.3);
        color: $color__background-body;
        font-weight: 600;
        padding: 10px 40px;
    }
}

.front-about {
    background-color: $color__background-body--secondary;
    padding: 30px $padding__main;
    color: $color__text-secondary;
    text-align: center;

    @include breakpoint(xs) {
        padding: 30px $padding__main*4;
    }

    &__heading {
        margin-top: 0;
        text-transform: uppercase;

        &-info {
            display: block;
            font-weight: 300;
            font-size: 16px;
        }
    }
}

.shop-section {
    padding: 30px $padding__main/2 10px;

    @include breakpoint(xs) {
        padding: 30px $padding__main*3 10px;
    }

    a {
        color: $color__text-main;
    }

    &__container {
        padding: 0;
    }

    &__heading {
        text-align: center;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}