.sticky {
	display: block;
}

.post,
.page {
	h1 {
		margin: 15px 0 0 10px;

		@include breakpoint(xs) {
			margin: 25px 0 10px 10vw;
		}

		@include breakpoint(xl) {
			max-width: 1200px;
			margin: 25px auto;
		}
	}
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}