.sticky {
	display: block;
}

.post,
.page {
	h1 {
		margin: 15px 0 0 10px;
	}
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1em 10px 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}