.site-footer {
    background-image: url(images/footer_bg.jpg);
    background-size: cover;
    padding-bottom: 5vh;
    position: relative;

    &::before {
        content: "";
        display: block;
        height: 40vh;
        background-image: url(images/newsletter_800x800@2x.jpg);
        background-size: cover;
        background-position: right;

        @include breakpoint(xs) {
            height: 110vh;
            background-position: top;
        }

        @include breakpoint(md) {
            height: 47vh;
            width: 50vw;
            position: absolute;
            top: 40px;
            left: -40px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        @include breakpointPortrait(xs) {
            height: 50vh;
        }
    }

    &__wrapper {
        text-align: center;

        @include breakpoint(md) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 60%;
            max-width: 1200px;
            margin: 60px auto 0;
            text-align: left;
        }
    }

    &__container {

        &--inner {
            margin: 20px 0;
            padding: 0;
            text-align: inherit;

            @include breakpoint(md) {
                margin: 0;
            }

            a {
                display: block;
                padding: 2px 0;
                color: $color__text-main;
            }
        }
    }

    &__socials {
        display: flex;
        justify-content: center;
        text-align: inherit;

        @include breakpoint(md) {
            flex-direction: column;
        }

        a {
            display: inline-block;
            padding: 10px;

            @include breakpoint(md) {
                padding: 0 10px;
            }
        }
    }
}