// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - (($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

// Dark button
@mixin dark-button {
	display: inline-block;
	color: $color__background-body;
	background-color: $color__text-main;
	padding: 10px;
	border: 1px solid rgba($color__text-main, .7);
	border-radius: 0;

	@include breakpoint(md) {
		transition: background-color .4s, color .4s;
	}

	&:hover {
		@include breakpoint(md) {
			background-color: $color__background-screen;
			color: $color__text-main;
		}
	}
}