// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - (($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

// Dark button
@mixin dark-button {
	display: inline-block;
	color: $color__background-body;
	background-color: $color__text-main;
	padding: 10px;
	border: 1px solid rgba($color__text-main, .7);
	border-radius: 0;
	transition: background-color .4s cubic-bezier(0.68, -0.55, 0.265, 1.55), color .4s;

	&:hover {
		// background-color: $color__background-body;
		background-color: transparent;
		color: $color__text-main;
	}
}