// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - (($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

// Dark button
@mixin dark-button {
	display: inline-block;
	color: $color__background-body;
	background-color: $color__text-main;
	padding: 10px;
	border: 1px solid $color__text-main;
	border-radius: 0;
}