body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	padding-top: 10vh;
	width: 100%;
	overflow-y: scroll;

	@include breakpointPortrait(xs) {
		padding-top: 6vh;
	}

}